<link rel="stylesheet" href="/styles/variable.css">
<link rel="stylesheet" href="/styles/nav.css">
<div class="nav_div">
    <style>
    </style>
    <nav class="nav">
        <h1>Logo</h1>
        <ul>
            <a href="/">Home</a>
            <a href="/about">About us</a>
            <a href="/about">What we do</a>
        </ul>
        <a href="">Donates</a>
    </nav>
</div>
