<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/flutterwave" method="post">
        <input type="number" name="card_number" id="card_number" placeholder="card number">
        <input type="number" name="card_expiry_month" id="card_expiry_month" placeholder="expire month">
        <input type="number" name="card_expiry_year" id="card_expiry_year" placeholder="year">
        <input type="number" name="card_cvv" id="card_cvv" placeholder="cvv">
        <button type="submit">Proceed</button>
    </form>
</body>
</html>