<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <!-- <link rel="stylesheet" href="/js/Owl/dist/assets/owl.carousel.min.css"> -->
    <!-- <link rel="stylesheet" href="/public/js/Owl/dist/assets/owl.theme.default.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/styles/preloader.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="/js/preloader.js"></script>
    <title>
        <%=title%>
    </title>
</head>

<body>
    <div class="preload" id="preload">
        <div id="preloader">
            <div id="loader"></div>
        </div>
    </div>
    <%- include('./partials/nav.ejs')%>
        <section class="hero-section">
            <div class="main_section">
                <div class="left_section">
                    <!-- <div class="top_title"> -->
                    <h1>Empowering Communities.</h1>
                    <p>Non profit organisation, building Communities. Start now, Join us.</p>
                    <!-- </div> -->
                    <div class="btns">
                        <a href="" class="btn_left btn_general">Learn more</a>
                        <a href="#donate_section" class="btn_right btn_general">Donate</a>
                    </div>
                </div>
                <div class="right_section">
                    <img src="/Assets/hero.svg" alt="" srcset="">
                </div>
            </div>
        </section>
        <!-- middle section -->
        <section class="second">
            <div class="second_main">
                <div data-aos="fade-up" class="second_left">
                    <img src="/Assets/join.png" alt="">
                </div>
                <div data-aos="fade-up" class="second_right">
                    <h1>About Us</h1>
                    <p>Doer's is national organisation harnessing the power of data and evidence to end poverty, reduce
                        inequality and increase resilience.
                    </p>
                    <a class="learn_more" href="">Learn more</a>
                </div>
            </div>
        </section>
        <!-- what we do section -->
        <section class="what_we_do">
            <div class="top_do">
                <h1>What We Do</h1>
                <p>Accountablity is Key.</p>
            </div>
            <div class="do_div">
                <ul class="do_ul">
                    <li data-aos="zoom-in-up">
                        <img src="/Assets/agric.png" alt="">
                        <h1>Agriculture</h1>
                    </li>
                    <li data-aos="zoom-in-up">
                        <img src="/Assets/hand.png" alt="">
                        <h1>Co-operation</h1>
                    </li>
                    <li data-aos="zoom-in-up">
                        <img src="/Assets/climate.png" alt="">
                        <h1>Climate Change</h1>
                    </li>
                </ul>
            </div>
        </section>
        <section data-aos="zoom-in-up" class="carousel">

            <div class="slider_main">
                <h1>Testimonals</h1>
                <div class="owl-carousel">
                    <li>
                        <img src="/Assets/carousel/man.jpg" alt="">
                        <h2>Decoy Adams</h2>
                        <p>Ceo- Warlur</p>
                        <a class="slider-l-more" href="">Learn more</a>
                    </li>
                    <li>
                        <img src="/Assets/carousel/man.jpg" alt="">
                        <h2>Decoy Adams</h2>
                        <p>Ceo- Warlur</p>
                        <a class="slider-l-more" href="">Learn more</a>
                    </li>
                    <li>
                        <img src="/Assets/carousel/man.jpg" alt="">
                        <h2>Decoy Adams</h2>
                        <p>Ceo- Warlur</p>
                        <a class="slider-l-more" href="">Learn more</a>
                    </li>
                    <li>
                        <img src="/Assets/carousel/man.jpg" alt="">
                        <h2>Decoy Adams</h2>
                        <p>Ceo- Warlur</p>
                        <a class="slider-l-more" href="">Learn more</a>
                    </li>
                    <li>
                        <img src="/Assets/carousel/man.jpg" alt="">
                        <p>Ceo- Warlur</p>
                        <a class="slider-l-more" href="">Learn more</a>
                    </li>
                    <li>
                        <img src="/Assets/carousel/man.jpg" alt="">
                        <p>Ceo- Warlur</p>
                        <a class="slider-l-more" href="">Learn more</a>
                    </li>
                    <li>
                        <img src="/Assets/carousel/man.jpg" alt="">
                        <p>Ceo- Warlur</p>
                        <a class="slider-l-more" href="">Learn more</a>
                    </li>
                </div>
            </div>
        </section>
        <!-- map section -->
        <section class="map_section">
            <div class="map_main">
                <div class="map_left">
                    <img data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000"
                        src="/Assets/map.png" alt="" srcset="">
                </div>
                <div data-aos="fade-up" data-aos-anchor-placement="center-center" class="map_right">
                    <h1>Touching lives everywere<br> we go
                    </h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dicta eos eaque error,
                        itaque voluptatem sapiente voluptatum a soluta, expedita laudantium quos sed maiores cum magni.
                        Ad dicta neque maxime.</p>
                </div>
            </div>
        </section>
        <!-- donate section -->
        <section id="donate_section" data-aos="zoom-in-up" class="donate_section">
            <div class="donate_main">
                <div class="donate_left">
                    <h1>Donate now!</h1>
                    <p>Everyone can help</p>
                </div>

                <div class="donate_right">
                    <h1>Amount</h1>
                    <p>Individual donors or foundations</p>
                    <form name="donate_form" id="donate_form" onchange="amount()" action="">
                        <select class="fixed_price" name="" id="amount_select">
                            <option value="other">Other</option>
                            <option value="50">NGN 50</option>
                            <option value="100">NGN 100</option>
                        </select>
                        <input class="more_price" type="number" name="" value="" id="flexPrice" placeholder="NGN 1000">
                        <button onclick="openModal()" type="button">Proceed</button>
                    </form>
                    <script>
                        const usd50 = document.getElementById('50usdLabel');
                        const usd100 = document.getElementById('100usdLabel');
                    </script>
                </div>
            </div>
        </section>
        <div class="modal"
            style="width: 100%; height: 100%; background-color: rgba(0,0,0,0.7); position: fixed; bottom: 0; left: 0; display: none; justify-content: center; align-items: center; z-index: 10;">
            <form action="" onchange="modalChange()"
            style="z-index: 500; background-color: white; width: 360px; height: auto; max-width: 80%; border-radius: 8px; padding: 20px; margin-top: calc(100% - 100px); bottom: -400px;">

            <div class="modal_top">
                <h3>
                    Personal Details
                </h3>
                <button type="button" onclick="closeModal()" class="close_btn">
                    <img src="https://img.icons8.com/ios-glyphs/30/000000/delete-sign.png" />
                </button>
            </div>
            <div class="container_modal" style="margin-top: 30px; width: 100%; height: auto;">
                <div class="input_div" style="display: grid;">
                    <label style="font-size: 14px;" for="">Full Name</label>
                    <input id="name" type="text" placeholder="Scott Lexium">
                </div>
                <div class="input_div" style="display: grid;">
                    <label style="font-size: 14px;" for="">Email Address</label>
                    <input id="email" type="Email" placeholder="scottlexium@gmail.com">
                </div>
                <div class="input_div" style="display: grid;">
                    <label style="font-size: 14px;" for="">Phone number</label>
                    <input type="number" name="" id="phone" placeholder="+234-811-863-8617">
                </div>
                <div class="input_div" style="display: grid;">
                    <label style="font-size: 14px;" for="">Address</label>
                    <input type="address" name="" id="address" placeholder="59 ICE road, Abuja">
                </div>
                <div class="input_div" style="display: flex; justify-content: center; align-items: center;">
                    <button onclick="donateFunction()" class="proceed_btn_pay" type="button">Proceed</button>
                </div>
            </div>

        </form>
           
        </div>
        <script src="https://checkout.flutterwave.com/v3.js"></script>
        <script>
            const host = location.host;
            function amount(e) {
                const flexPrice = document.getElementById('flexPrice');
                const amountFixed = document.getElementById('amount_select');
                let finalAmount = null;
                const preAmount = amountFixed.options[amountFixed.selectedIndex].value
                if (preAmount == '50' || preAmount == '100') {
                    finalAmount = preAmount
                }
                if (finalAmount !== '') {
                    finalAmount = flexPrice.value;
                }
                if (preAmount !== 'other' && flexPrice.value !== '') {
                    alert('Please select other for amounts greater than 100!')
                }
                if (finalAmount == '') {
                    finalAmount = preAmount;
                }
                else {
                    finalAmount = flexPrice.value;
                }

                sessionStorage.setItem('amount', finalAmount)
                console.log(finalAmount);
            }
            function donateFunction(e) {
                const name = sessionStorage.getItem('name');
                const address = sessionStorage.getItem('address');
                const phone = sessionStorage.getItem('phone');
                const email = sessionStorage.getItem('email');
                const amount = sessionStorage.getItem('amount');
                const payflutterwaveModalModal = FlutterwaveCheckout({
                    public_key: "FLWPUBK_TEST-358831fd4a1bd960ba6af24ed1b70f8d-X",
                    tx_ref: `DUF-${Date.now()}`,
                    amount: amount,
                    currency: "NGN",
                    payment_options: "card",
                    meta: {
                        consumer_id: 23,
                        consumer_mac: "92a3-912ba-1192a",
                    },
                    customer: {
                        email: email,
                        phone_number: phone,
                        name: name,
                        address: address
                    },
                    customizations: {
                        title: "Doers Uplifting Foundation(test)",
                        description: "DUF Donation",
                        logo: "https://www.logolynx.com/images/logolynx/22/2239ca38f5505fbfce7e55bbc0604386.jpeg",
                    },
                    callback: function () {
                        // Send AJAX verification request to backend
                        // verifyTransactionOnBackend(payment.id);
                        const data = { name: name, email: email, address: address, phone: phone, amount: amount };

                        fetch(`http://${host}/success`, {
                            method: 'POST', // or 'PUT'
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(data),
                        })
                            .then(response => response.json())
                            .then(data => {
                                console.log('Success:', data);
                                flutterwaveModal.close();
                            })
                            .catch((error) => {
                                console.error('Error:', error);
                            });
                            flutterwaveModal.close();

                    },
                    onclose: function (incomplete) {
                        const data = { name: name, email: email, address: address, phone: phone, amount: amount };

                        fetch(`http://${host}/success`, {
                            method: 'POST', // or 'PUT'
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(data),
                        })
                            .then(response => response.json())
                            .then(data => {
                                console.log('Success:', data);
                            })
                            .catch((error) => {
                                console.error('Error:', error);
                            });
                    }
                });
            }
            const modal = document.querySelector('.modal')
            function closeModal() {
                modal.style.display = 'none';
            }
            function openModal() {
                modal.style.display = 'flex'
            }
            function modalChange(e) {
                const email = document.getElementById('email').value;
                const phone = document.getElementById('phone').value;
                const address = document.getElementById('address').value;
                const name = document.getElementById('name').value;
                // const details = [email, phone, name, address];
                sessionStorage.setItem('email', email)
                sessionStorage.setItem('address', address)
                sessionStorage.setItem('phone', phone)
                sessionStorage.setItem('name', name)
                sessionStorage.setItem('details', details);
                // console.log(details[0]);
            }

        </script>
</body>
<%- include('./partials/footer.ejs')%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
<script>
    $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        autoplay: true,
        autoplayTimeout: 2000,
        responsiveClass: true,
        lazyLoad: true,
        responsive: {
            0: {
                items: 1,
                nav: true
            },
            600: {
                items: 2,
                nav: false
            },
            1000: {
                items: 3,
                nav: true,
                loop: false
            }
        }
    })
</script>

</html>