<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <!-- <link rel="stylesheet" href="/js/Owl/dist/assets/owl.carousel.min.css"> -->
    <!-- <link rel="stylesheet" href="/public/js/Owl/dist/assets/owl.theme.default.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <title>
        <%=title%>
    </title>
</head>

<body>
    <%- include('./partials/nav.ejs')%>
        <section class="hero-section">
            <div class="main_section">
                <div class="left_section">
                    <!-- <div class="top_title"> -->
                    <h1>Empowering Communities.</h1>
                    <p>Non profit organisation, building Communities. Start now, Join us.</p>
                    <!-- </div> -->
                    <div class="btns">
                        <a href="" class="btn_left btn_general">Learn more</a>
                        <a href="" class="btn_right btn_general">Donate</a>
                    </div>
                </div>
                <div class="right_section">
                    <img src="/Assets/hero.svg" alt="" srcset="">
                </div>
            </div>
        </section>
        <!-- middle section -->
        <section class="second">
            <div class="second_main">
                <div class="second_left">
                    <img src="/Assets/join.png" alt="">
                </div>
                <div class="second_right">
                    <h1>About Us</h1>
                    <p>Doer's is national organisation harnessing the power of data and evidence to end poverty, reduce
                        inequality and increase resilience.
                    </p>
                    <a class="learn_more" href="">Learn more</a>
                </div>
            </div>
        </section>
        <!-- what we do section -->
        <section class="what_we_do">
            <div class="top_do">
                <h1>What We Do</h1>
                <p>Accountablity is Key.</p>
            </div>
            <div class="do_div">
                <ul class="do_ul">
                    <li>
                        <img src="/Assets/agric.png" alt="">
                        <h1>Agriculture</h1>
                    </li>
                    <li>
                        <img src="/Assets/hand.png" alt="">
                        <h1>Co-operation</h1>
                    </li>
                    <li>
                        <img src="/Assets/climate.png" alt="">
                        <h1>Climate Change</h1>
                    </li>
                </ul>
            </div>
        </section>
        <section class="carousel">

            <div class="slider_main">
                <h1>Testimonals</h1>
                <div class="owl-carousel">
                    <li>
                        <img src="/Assets/carousel/man.jpg" alt="">
                        <h2>Decoy Adams</h2>
                        <p>Ceo- Warlur</p>
                        <a class="slider-l-more" href="">Learn more</a>
                    </li>
                    <li>
                        <img src="/Assets/carousel/man.jpg" alt="">
                        <h2>Decoy Adams</h2>
                        <p>Ceo- Warlur</p>
                        <a class="slider-l-more" href="">Learn more</a>
                    </li>
                    <li>
                        <img src="/Assets/carousel/man.jpg" alt="">
                        <h2>Decoy Adams</h2>
                        <p>Ceo- Warlur</p>
                        <a class="slider-l-more" href="">Learn more</a>
                    </li>
                    <li>
                        <img src="/Assets/carousel/man.jpg" alt="">
                        <h2>Decoy Adams</h2>
                        <p>Ceo- Warlur</p>
                        <a class="slider-l-more" href="">Learn more</a>
                    </li>
                    <li>
                        <img src="/Assets/carousel/man.jpg" alt="">
                        <p>Ceo- Warlur</p>
                        <a class="slider-l-more" href="">Learn more</a>
                    </li>
                    <li>
                        <img src="/Assets/carousel/man.jpg" alt="">
                        <p>Ceo- Warlur</p>
                        <a class="slider-l-more" href="">Learn more</a>
                    </li>
                    <li>
                        <img src="/Assets/carousel/man.jpg" alt="">
                        <p>Ceo- Warlur</p>
                        <a class="slider-l-more" href="">Learn more</a>
                    </li>
                </div>
            </div>
        </section>
        <!-- map section -->
        <section class="map_section">
            <div class="map_main">
                <div class="map_left">
                    <img src="/Assets/map.png" alt="" srcset="">
                </div>
                <div class="map_right">
                    <h1>Touching lives everywere<br> we go
                    </h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dicta eos eaque error,
                        itaque voluptatem sapiente voluptatum a soluta, expedita laudantium quos sed maiores cum magni.
                        Ad dicta neque maxime.</p>
                </div>
            </div>
        </section>
        <!-- donate section -->
        <style>
            .donate_section {
                width: 100%;
                height: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 30px;
                flex-wrap: wrap;
                margin-top: 150px;
            }

            .donate_main {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                max-width: 80%;
                height: 100%;
                gap: 40px;
            }

            .donate_left {
                width: 70%;
                height: 300px;
                max-width: 300px;
                background-image: url('/Assets/other.png');
                background-position: center bottom;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                padding: 40px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 30px;
            }

            .donate_left h1 {
                font-size: 42px;
                color: #07003B;
            }

            .donate_left p {
                color: #80858C;
            }

            .donate_right {
                width: 40%;
                height: 70%;
                padding: 50px;
                display: flex;
                flex-direction: column;
                background-color: var(--blue100);
                gap: 30px;
            }

            .donate_right p {
                color: var(--gray400);
                margin-top: -30px;
            }

            .donate_right button {
                margin-top: 20px;
                background-color: var(--orange800);
                padding: 8px 12px;
                outline: none;
                border: solid 1px var(--orange800);
                color: white;
                font-weight: bold;
                font-size: 20px;
                border-radius: 8px;
            }
        </style>
        <section class="donate_section">
            <div class="donate_main">
                <div class="donate_left">
                    <h1>Donate now!</h1>
                    <p>Everyone can help</p>
                </div>
                <style>
                    form {
                        margin-bottom: 400px;
                    }

                    .fixed_price {
                        width: 100px;
                        border: none;
                        outline: none;
                        background-color: white;
                        padding: 10px;
                        cursor: pointer;
                    }

                    .fixed_price::selection {
                        background-color: white;
                        padding: 400px;
                    }

                    input {
                        width: 100px;
                        border: none;
                        outline: none;
                        background-color: white;
                        padding: 10px;
                    }
                </style>
                <div class="donate_right">
                    <h1>Amount</h1>
                    <p>Individual donors or foundations</p>
                    <form name="donate_form" id="donate_form" onchange="fire()" action="">
                        <select class="fixed_price" name="" id="">
                            <option value="">NGN 50</option>
                            <option value="">NGN 100</option>
                        </select>
                        <input class="more_price" type="number" name="" value="" id="" placeholder="NGN1000">
                        <button>Proceed</button>
                    </form>

                    <script>
                        const usd50 = document.getElementById('50usdLabel');
                        const usd100 = document.getElementById('100usdLabel');
                    </script>
                </div>
            </div>
        </section>
</body>
<footer>
    <style>
        footer {
            width: 100%;
            height: auto;
            position: relative;
            background-color: var(--purple700);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 100px;
        }

        button {
            cursor: pointer;
        }

        .footer_main {
            display: flex;
            justify-content: space-around;
            width: 80%;
            padding: 30px;
            margin-top: 100px;
        }

        .footer_main h1, .news
        p {
            color: white;
        }

        .footer_main form {
            height: 50px;
            display: flex;
            justify-content: center;
        }

        .footer_left {
            display: grid;
            gap: 20px;
        }

        .footer_main form input {
            width: 80%;
            flex: 2;
        }

        .footer_main form button {
            background-color: var(--orange800);
            border: solid 1px var(--orange800);
            outline: none;
            color: white;
            width: 90%;
            flex: 1;
        }
    </style>
    <div class="footer_main">
        <div class="footer_left">
            <div class="news">
                <h1>Newsletter</h1>
                <p>Subscribe to our newsletter to get more information</p>
            </div>
            <form class="subscibe" action="">
                <input type="email" name="" id="" placeholder="Email">
                <button>Subscribe</button>
            </form>
        </div>
        <style>
            .f_right_a a:hover {
                color: var(--orange800);
            }

            .f_nav a:hover {
                color: var(--orange800);
            }

            .f_nav {
                display: flex;
                flex-direction: column;

            }

            .f_nav a {
                color: rgba(245, 245, 245, 0.788);
                font-size: 14px;
            }

            .footer_middle {
                display: flex;
                flex-direction: column;
                gap: 30px;
                line-height: 2;
                margin-top: -10px;
            }

            .f_social {
                margin-top: 20px;
            }

            .footer_right {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }

            .f_right_a {
                display: grid;
            }

            .f_right_a a {
                color: rgba(245, 245, 245, 0.788);
                font-size: 14px;
            }
        </style>
        <div class="footer_middle">
            <div class="navigation">
                <h1>Navigation</h1>
                <div class="f_nav">
                    <a href="">About us</a>
                    <a href="">What we do</a>
                    <a href="">Testimonals</a>
                </div>
            </div>
            <div class="connected">
                <h1>Stay Connected</h1>
                <div class="f_nav">
                    <a href="">Contact us</a>
                    <a href="">Media Centre</a>
                </div>
                <div class="f_social">
                    <img src="https://img.icons8.com/color/48/000000/facebook.png" />
                    <img src="https://img.icons8.com/color/48/000000/linkedin.png" />
                    <img src="https://img.icons8.com/fluency/48/000000/twitter.png" />
                    <img src="https://img.icons8.com/color/48/000000/youtube-play.png" />
                </div>
            </div>
        </div>
        <div class="footer_right">
            <h1>Policies</h1>
            <div class="f_right_a">
                <a href="">Privacy and cookies</a>
                <a href="">Income policy</a>
            </div>
        </div>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
<script>
    $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        autoplay: true,
        autoplayTimeout: 2000,
        responsiveClass: true,
        lazyLoad: true,
        responsive: {
            0: {
                items: 1,
                nav: true
            },
            600: {
                items: 3,
                nav: false
            },
            1000: {
                items: 3,
                nav: true,
                loop: false
            }
        }
    })
</script>

</html>