<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/js/Owl/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/public/js/Owl/dist/assets/owl.theme.default.min.css">
    <title>
        <%=title%>
    </title>
</head>

<body>
    <%- include('./partials/nav.ejs')%>
        <section class="hero-section">
            <div class="main_section">
                <div class="left_section">
                    <!-- <div class="top_title"> -->
                    <h1>Empowering Communities.</h1>
                    <p>Non profit organisation, building Communities. Start now, Join us.</p>
                    <!-- </div> -->
                    <div class="btns">
                        <a href="" class="btn_left btn_general">Learn more</a>
                        <a href="" class="btn_right btn_general">Donate</a>
                    </div>
                </div>
                <div class="right_section">
                    <img src="/Assets/hero.svg" alt="" srcset="">
                </div>
            </div>
        </section>
        <!-- middle section -->
        <section class="second">
            <div class="second_main">
                <div class="second_left">
                    <img src="/Assets/join.png" alt="">
                </div>
                <div class="second_right">
                    <h1>About Us</h1>
                    <p>Doer's is national organisation harnessing the power of data and evidence to end poverty, reduce inequality and increase resilience.
                    </p>
                    <a class="learn_more" href="">Learn more</a>
                </div>
            </div>
        </section>
        <!-- what we do section -->
        <section class="what_we_do">
            <div class="top_do">
                <h1>What We Do</h1>
                <p>Accountablity is Key.</p>
            </div>
            <div class="do_div">
                <ul class="do_ul">
                    <li>
                        <img src="/Assets/agric.png" alt="">
                        <h1>Agriculture</h1>
                    </li>
                    <li>
                        <img src="/Assets/hand.png" alt="">
                        <h1>Co-operation</h1>
                    </li>
                    <li>
                        <img src="/Assets/climate.png" alt="">
                        <h1>Climate Change</h1>
                    </li>
                </ul>
            </div>
        </section>
        <section class="carousel">
            <style>
                .carousel {
                    width: 100%;
                    height: 400px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                }
                
                .owl-carousel {
                    width: 80%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    gap: 20px;
                    flex-direction: row;
                    list-style: none;
                    align-items: center;
                }
                
                .owl-nav button span {
                    font-size: 40px;
                }
                
                .owl-nav button {
                    width: 200px;
                }
                
                .owl .owl-carousel .owl-carousel li {
                    width: 400px;
                    height: 390px;
                    background-color: blue;
                }
            </style>
            <div class="owl-carousel">
                <li> Your Content </li>
                <li> Your Content </li>
                <li> Your Content </li>
                <li> Your Content </li>
                <li> Your Content </li>
                <li> Your Content </li>
                <li> Your Content </li>
            </div>
        </section>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/Owl/dist/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
<script>
    $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        responsiveClass: true,
        responsive: {
            0: {
                items: 1,
                nav: true
            },
            600: {
                items: 3,
                nav: false
            },
            1000: {
                items: 3,
                nav: true,
                loop: false
            }
        }
    })
</script>

</html>