<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Document</title>
</head>

<body>
    <%- include('./partials/nav.ejs')%>
        <section class="hero-section">
            <div class="main_section">
                <div class="left_section">
                    <!-- <div class="top_title"> -->
                    <h1>Empowering Communities.</h1>
                    <p>Non profit organisation, building Communities. Start now, Join us.</p>
                    <!-- </div> -->
                    <div class="btns">
                        <a href="" class="btn_left btn_general">Learn more</a>
                        <a href="" class="btn_right btn_general">Donate</a>
                    </div>
                </div>
                <div class="right_section"></div>
            </div>
        </section>
        <!-- middle section -->
        <section class="second">
            <div class="second_main">
                <div class="second_left">
                    <img src="/Assets/join.png" alt="">
                </div>
                <div class="second_right">
                    <h1>About Us</h1>
                    <p>Doer's is national organisation harnessing the power of data and evidence to end poverty, reduce inequality and increase resilience.
                    </p>
                    <a href="">Learn more</a>
                </div>
            </div>
        </section>
        <!-- what we do section -->
        <section class="what_we_do">
            <div class="top_do">
                <h1>What We Do</h1>
                <p>Accountablity is Key.</p>
            </div>
            <div class="do_div">
                <ul class="do_ul">
                    <li>
                        <i>icon</i>
                        <h1>Agriculture</h1>
                    </li>
                    <li>
                        <i>icon</i>
                        <h1>Agriculture</h1>
                    </li>
                    <li>
                        <i>icon</i>
                        <h1>Agriculture</h1>
                    </li>
                </ul>
            </div>
        </section>
</body>
<script src="/js/main.js"></script>

</html>