
.level,
a.level {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.level-item {
     -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.fab-container {
    margin: 1em 3em 3em 1em;
    position: fixed;
    bottom: 0;
    margin-bottom: 100px;
    right: 0;
    z-index: 990;
}

.fab-icon::before {
    /* content: "\f013"; */
    content: "\f0c9";
}

.fab-opened .fab-icon::before {
    content: "\f00d";
}

.fab-opened .fab-buttons:not(:last-of-type) {
    width: 40px;
    height: 40px;
    margin: 15px auto 0;
    opacity: 1;
}

.fab-opened .fab-rotate {
    transform: rotate(0deg);
}

.fab-opened .fab-buttons span.fab-rotate i {
     transform: rotate(90deg);
}

.fab-buttons {
    display: block;
    width: 35px;
    height: 35px;
    margin: 20px auto 0;
    text-decoration: none;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 5px 11px -2px rgba(0, 0, 0, 0.18), 0 4px 12px -7px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transition: .2s;
}

.fab-buttons:nth-last-of-type(2) {
    transition-delay: 20ms;
}

.fab-buttons:nth-last-of-type(3) {
    transition-delay: 40ms;
}

.fab-buttons:nth-last-of-type(4) {
    transition-delay: 60ms;
}

.fab-buttons:nth-last-of-type(5) {
    transition-delay: 80ms;
}

.fab-buttons:nth-last-of-type(6) {
    transition-delay: 100ms;
}

.fab-buttons:nth-last-of-type(1) {
    width: 56px;
    height: 56px;
    opacity: 1;
}

.fab-buttons {
    /* background: #006694; */
    background: #dd8500;
}

.fab-buttons:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

.fab-buttons span {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.fab-buttons i,
.fab-buttons span i {
    color: #fff;
    transition: .3s;
}

.fab-buttons span.fab-rotate {
    background: #c96b00;
    position: absolute;
    transform: rotate(0deg);
    transition: .3s;
}