* {
    margin         : 0;
    padding        : 0;
    transition     : all .3s ease-in-out;
    scroll-behavior: smooth;
}

.hero-section {
    width           : 100%;
    display         : flex;
    flex-wrap       : wrap;
    justify-content : center;
    height          : 80vh;
    background-color: var(--blue200);
    position        : relative;
    padding-top     : 70px;
}

.main_section {
    display        : flex;
    width          : 90%;
    flex-wrap      : wrap;
    justify-content: space-between;
    align-items    : center;
    height         : 100%;
}

.left_section {
    flex           : 1;
    display        : flex;
    flex-wrap      : wrap;
    flex-direction : column;
    gap            : 30px;
    /* align-items : center; */
    justify-content: center;
    text-align     : left;
}

.left_section h1 {
    font-size: 42px;
}

.right_section {
    flex               : 1;
    width              : 100%;
    height             : 100%;
    /* background-color: red; */
}

.right_section img {
    width : 100%;
    height: 100%;
}

.btns {
    width          : 60%;
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-around;
}

.btn_general {
    border-radius  : 10px;
    height         : 50px;
    display        : flex;
    flex-wrap      : wrap;
    width          : 120px;
    align-items    : center;
    justify-content: center;
    font-weight    : bold;
    margin-top     : 20px;
}

.btn_left {
    background-color: var(--orange800);
    color           : white;
}

.btn_right {
    background-color: white;
    color           : var(--orange800);
}

.second {
    width          : 100%;
    height         : 500px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin-top     : 70px;
    flex-wrap      : wrap;
}

.second_main {
    display           : flex;
    flex-direction    : row;
    justify-content   : space-around;
    align-items       : flex-end;
    width             : 90%;
    /* justify-content: center; */
    height            : 100%;
    gap               : 20px;
    flex-wrap         : nowrap;
}

.second_left {
    width              : calc(100%-300px);
    height             : 100%;
    /* background-image: url('/Assets/join.png');
    background-position: center;
    background-size    : auto;
    background-repeat  : no-repeat;
    border-radius      : 40px 0px 0px 0px;
    width              : 400px; */
}

.second_left img {
    width : 100%;
    height: 100%;
}

.second_right {
    /* flex: 1; */
    width           : 500px;
    height          : 70%;
    background-color: var(--blue200);
    padding         : 40px;
}

.second_right p {
    color     : #00000073;
    margin-top: 20px;
}

.second_right h1 {
    font-size: 30px;
}


/* what we do */

.what_we_do {
    width     : 100%;
    height    : 500px;
    text-align: center;
    margin-top: 70px;
}

.do_div {
    width          : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin-top     : 50px;
}

.do_ul {
    width          : 90%;
    display        : flex;
    justify-content: space-around;
    align-items    : center;
    flex-wrap      : nowrap;
    gap            : 20px;
}

.do_ul li {
    background-color: #FCFCFB;
    box-shadow      : 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    width           : 300px;
    height          : 280px;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    gap             : 40px;
}

.learn_more {
    color      : var(--orange800);
    font-weight: bold;
}

.do_ul li img {
    width: 60px;
}

.do_ul li h1 {
    color: #494949;
}

.top_do h1 {
    font-size: 40px;
}

.top_do p {
    color: #80858C;
}


/* slider */

.carousel {
    width          : 100%;
    height         : 400px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : row;
    margin-top     : 50px;
}

.slider_main {
    width          : 80%;
    height         : 100%;
    display        : flex;
    justify-content: space-between;
    gap            : 20px;
    flex-direction : column;
    list-style     : none;
    align-items    : center;
}

.slider_main h1 {
    font-size: 30px;
}

.owl-carousel {
    width          : 80%;
    height         : 100%;
    display        : flex;
    justify-content: space-between;
    gap            : 20px;
    flex-direction : row;
    list-style     : none;
    align-items    : center;
}

.owl-nav {
    display        : flex;
    justify-content: center;
}

.owl-nav button span {
    font-size: 40px;
}

.owl-nav button {
    width: 200px;
}

.owl-carousel li {
    width              : 400px;
    height             : 390px;
    /* background-color: blue; */
}

.owl-carousel li img {
    width : 100%;
    height: auto;
}

.slider-l-more {
    color: var(--orange800);
}


/* map */

.map_section {
    width          : 100%;
    height         : 600px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin-top     : 100px;
}

.map_main {
    width          : 70%;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

.map_left {
    width : 600px;
    height: 100%;
}

.map_left img {
    width : 100%;
    height: 100%;
}

.map_right {
    width           : 40%;
    height          : 100%;
    background-color: var(--blue200);
    padding         : 20px;
    border-radius   : 15px;
}

.map_right h1 {
    font-size  : 30px;
    color      : var(--orange800);
    font-weight: bold;
}

.map_right p {
    color     : var(--gray400);
    margin-top: 30px;
}

/* donate */
.donate_section {
    width          : 100%;
    height         : 300px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    gap            : 30px;
    flex-wrap      : nowrap;
    margin-top     : 150px;
}

.donate_main {
    display        : flex;
    justify-content: space-between;
    align-items    : flex-end;
    max-width      : 80%;
    height         : 100%;
    gap            : 40px;
    flex-wrap      : nowrap;
}

.donate_left {
    width              : 70%;
    height             : 300px;
    max-width          : 300px;
    background-image   : url('/Assets/other.png');
    background-position: center bottom;
    background-repeat  : no-repeat;
    background-size    : cover;
    position           : relative;
    padding            : 40px;
    display            : flex;
    flex-direction     : column;
    align-items        : flex-start;
    justify-content    : center;
    gap                : 30px;
}

.donate_left h1 {
    font-size: 42px;
    color    : #07003B;
}

.donate_left p {
    color: #80858C;
}

.donate_right {
    width           : 40%;
    height          : 70%;
    padding         : 50px;
    display         : flex;
    flex-direction  : column;
    background-color: var(--blue100);
    gap             : 30px;
}

.donate_right p {
    color     : var(--gray400);
    margin-top: -30px;
}

.donate_right button {
    margin-top      : 20px;
    background-color: var(--orange800);
    padding         : 8px 12px;
    outline         : none;
    border          : solid 1px var(--orange800);
    color           : white;
    font-weight     : bold;
    font-size       : 20px;
    border-radius   : 8px;
}

form {
    margin-bottom: 400px;
}

.fixed_price {
    width           : 100px;
    border          : none;
    outline         : none;
    background-color: white;
    padding         : 10px;
    cursor          : pointer;
}

.fixed_price::selection {
    background-color: white;
    padding         : 400px;
}

input {
    width           : 100px;
    border          : none;
    outline         : none;
    background-color: white;
    padding         : 10px;
}

/* footer */


.input_div input {
    width: 100%;
}

.input_div {
    margin-top: 20px;
}

.close_btn {
    background: none;
    border: none;
    opacity: 0.6;
}

.close_btn img {
    transition: all .8s ease-in-out;
}

.close_btn img:hover {
    rotate: 90deg;
    scale: 120%;
}

.proceed_btn_pay {
    background: var(--orange800);
    border: none;
    height: 40px;
    width: 70%;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: bold;

}

.modal_top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 10px;
    border-bottom: solid 1px #fdb453;
    padding-bottom: 10px;
}

/* media query */
